.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.input {
  width: 100%;
  padding: 5%;
  margin-top: 15px;
}

.select {
  padding: 5%;
  margin-top: 15px;
}

.header-input-your-data {
  color: brown;
  padding: 15px;
  text-align: center;
}

.react-aria-NumberField {
  padding: 5%;
  margin-bottom: 8px;
  color: var(--text-color);
  width: 100%;

  .react-aria-Group {
    display: flex;
    width: 100%;
    border-radius: 4px;

    &[data-focus-within] {
      outline: 1px solid var(--focus-ring-color);

      .react-aria-Input,
      .react-aria-Button {
        border-color: var(--tg-theme-background-color);
      }
    }
  }

  .react-aria-Button {
    font-size: 1.4rem;
    width: 2.3rem;
    padding: 0;

    &[slot=decrement] {
      border-start-end-radius: 0;
      border-end-end-radius: 0;
    }

    &[slot=increment] {
      border-start-start-radius: 0;
      border-end-start-radius: 0;
    }
  }

  .react-aria-Input {
    background: var(--field-background);
    border: 1px solid var(--tg-theme-button-color);
    border-radius: 0;
    color: var(--field-text-color);
    margin: 0 -1px;
    z-index: 1;
    font-size: 1rem;
    padding: 0.429rem 0.571rem;
    outline: none;
    width: 6rem;
    flex: 1;
  }
}



:where(.react-aria-Row) .react-aria-Checkbox {
  --selected-color: var(--highlight-foreground);
  --selected-color-pressed: var(--highlight-foreground-pressed);
  --checkmark-color: var(--highlight-background);
  --background-color: var(--highlight-background);
}