.button {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--tg-theme-button-color);
    padding: 15px;
    width: 90%;
}


.img {
    width: 100%;
    background: lightgray;
    height: 10px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
}

.route {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
}