.header {
  /* background: var(--tg-theme-secondary-bg-color); */
  /* background: black; */
  margin-bottom: 1px;
  font-size: 0.7rem;
  height: 1rem;
  text-align: center;
  justify-content: center;
  position: fixed; /* Фиксирует заголовок сверху */
  top: 0; /* Привязывает к верхней части окна */
  width: 100%;
  /* background-color: var(--tg-theme-header-bg-color); */
  background-color: var(--tg-theme-secondary-bg-color);
  
  /* bottom: 70rem; */
  z-index: 1000; /* Обеспечивает, что заголовок будет поверх других элементов */
}

.container{
  background-color: var(--tg-theme-secondary-bg-color);
}

.subheader{
  background-color: var(--tg-theme-secondary-bg-color);
  background-color: none;
  margin-bottom: 0;
  margin-top: 0;
}

.formContainer{
  /* top: 1rem; */
  /* height: auto; */
  margin-bottom: 2.5rem;
  display: flexbox;
  flex-direction: column;
  width: fit-content;
  position: relative;
  /* bottom: auto; */
  outline: none;
  padding: 2px;
  margin: auto;
  text-align: center;
  justify-items: center;
  margin-bottom: 2.5rem;
  overflow-y: scroll;
  outline: none;
  
  
  
  
}

.group{
  outline: none;
  border-radius: 5px;
  /* background-color: var(--tg-theme-section-bg-color); */
  background-color: var(--tg-theme-secondary-bg-color);
  /* top: 1rem; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  /* box-sizing: border-box; */
  width: fit-content;
  /* box-sizing: border-box; */
  /* flex-grow: 1; */
  position: relative;
  /* overflow-y: scroll; */
  bottom: auto;
  /* border-color: var(--tg-theme-section-separator-color); */
  /* border-color: black; */
  /* outline: auto; */
  
  padding: 2px;
  margin: auto;
  margin-top: 1rem;
  /* border: none; */
  text-align: center;
  /* align-items: flex-start; */
  justify-items: center;
  
  
}

.inputs{
  
  text-align: left;
  /* background: var(--tg-theme-bg-color); */
  background-color: var(--tg-theme-secondary-bg-color);
  /* border: 1px solid var(--border-color); */
  border-radius: 0;
  color: var(--tg-theme-text-color);
  margin: 0 -1px;
  z-index: 1;
  font-size: 1rem;
  padding: 0.429rem 0.571rem;
  outline: none;
  width: 100%;
  flex: 1;
  
  
}

.numberField {
  flex-grow: 1;
  top: 0rem;
  margin-top: 0.5rem;
  position: relative;
  width: 100%;
  bottom: auto;
}

.react-aria-Button[slot=decrement] {
  text-align: center;
  background: var(--tg-theme-secondary-bg-color);
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  color: var(--tg-theme-text-color);
}

.react-aria-Button[slot=increment] {
  text-align: center;
  background: var(--tg-theme-secondary-bg-color);
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  color: var(--tg-theme-text-color);
}

.description {
  z-index: 100;
  color: var(--tg-theme-section-header-text-color);
  position: absolute;
  font-size: 0.7rem;
  text-align: center;
  left: 50%;
  box-sizing: content-box;
transform: translateX(-50%);
  /* Отступ от левого края */
  top: 10px; /* Начальная позиция сверху */
  transition: all 0.2s ease; /* Плавный переход */
  /* background-color: white; */
   /* Фон для описания */
  padding: 0 5px; /* Отступы вокруг текста */
  pointer-events: none; /* Запретить взаимодействие с текстом */
}

.numberField:focus-within.description,
.numberField input:focus + .description,
.numberField input:valid + .description {
  top: -0.5rem; /* Поднимаем текст при фокусе */
  /* left: 65px; Оставляем отступ слева */
  box-sizing: content-box;
  background-color: var(--tg-theme-secondary-bg-color);
  font-size: 0.7rem; /* Уменьшаем размер шрифта */
  color: #007bff; /* Цвет текста при фокусе */
}

.Input {
  display: grid;
  bottom: 0;
  text-align: center;
  /* background: var(--tg-theme-bg-color); */
  background-color: var(--tg-theme-secondary-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 0;
  color: var(--tg-theme-text-color);
  /* margin: 0 -1px; */
  z-index: 1;
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  outline: none;
  width: 100%;
  flex: 1;
  
}

input:focus {
  border-color: #007bff; /* Цвет рамки при фокусе */
  outline: none; /* Убираем стандартный контур */
  
}

.submit {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 20px;
  position: fixed;
  z-index: 1000;
  bottom: 0;
  /* text-align: center; */
  margin: auto;
  /* margin-top: 0.1rem; */
  /* margin-left: 5px; */
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  outline: none;
  color: var(--tg-theme-button-text-color);
  height: 2.4rem;
  background: var(--tg-theme-button-color);
  
}

