.list {
    display: block;
    flex-wrap: wrap;
    justify-content: 100%;
    margin-right: 10%;
    margin-left: 10%;
}

.item {
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: stretch;
}

.btn{
    /* padding: 10px 15px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    outline: none;
    cursor: pointer;
    display: block;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 10px;
    justify-content: 100%;
    min-width: 80%; */
    border: none;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background: #0B63F6;
    box-shadow: 0 5px 0 #003CC5;
    display: block;
    margin-bottom: 10px;
    justify-content: 100%;
    min-width: 80%;
    height: 50px;
}