.header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    
    flex-direction: column;
}


.username {
    margin-left: auto;
}