* {
  
  padding: auto;
  box-sizing: border-box;
  max-width: 500px;
 

}

.App{
  margin: auto;
}

body {
  margin: 0 auto;
  background: var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color);

}