.container {
    top: 0;
    background: var(--bgColor);
    display: flex;
    flex-direction: column;
}



.date {
    text-align: center;
}

.caBlock {
    background-color: var(--tg-theme-secondary-bg-color);
    margin-bottom: 5px;
    flex-direction: row;
    border-radius: 5px;
}

.ca {
    margin-top: 10;
    text-align: center;
}

.manager {
    font-size: 0.5rem;
}

.nomenclatureBlock {
    height: fit-content;
    font-size: 1rem;
    opacity: 1;
    visibility: visible;
    /* transition: height 0.5s ease; */
}

.nomenclatureRow {
    font-size: 0.7rem;
    display: flex;
    width: 100%;
    border: 1px solid;
    --row-height: 100%;
    height: var(--row-height);
}

.no {
    text-align: center;
    width: 1rem;
    margin: auto;
}

.amt {
    flex: 1;
    width: 2rem;
    text-align: center;
    margin: auto;
}

.nomenclature {
    border-left: 1px solid;
    border-right: 1px solid;
    width: calc(100% - 3rem);
}

.nomenclatureBlock.hide {
    opacity: 0;
    visibility: hidden;
    height: 0;
    /* transition:  height 0.5s ease; */
}

.expand {
    display: flex;
    position: relative;
    font-size: 0.7rem;
    color: blue;
    text-decoration: underline;
    justify-content: right;
}

.progress{
    display: flex;
    justify-content: center;
    margin-top: 45vh;
    
  }